*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body {
    background-image: url("../img/background_img3.jpg.png");
    background-size: cover;
    background-repeat: no-repeat;

   }
.main_div{
    margin: 40px 0px 0px 110px;
    width: 100%;
    height: 90vh;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgb(189, 217, 255, 0.1);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    position: relative;
}
nav {
    margin-top: 20px;
}

.navbar-toggler {

    position: absolute;
    left: 1%;
}



@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

@media screen and (min-width: 80px) {
    .first_cont {

        margin-top: 30px;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    background-size: cover;


    padding: 58px 0 0;
    /* Height of navbar */

    width: 240px;
    z-index: 600;
    --bs-bg-opacity: 0;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.list-group-item {
    line-height: 30px;
    background-color: unset;
    border: none;
}

.list-group-item-action:hover {
    border-radius: 5px;
    background-color: #3783f5;
    color: #F6F8FA;
    border: none;
}

.sidebar-sticky {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    /* Scrollable contents if viewport is shorter than content. */
}

.logo_hrms {
    margin-left: 23px;
}

.fixed-top {
    left: unset;
    --bs-bg-opacity: -3;
}

.first_cont {
    width: 71%;
    position: absolute;
    top: 14%;
    right: 40px;
    --bs-bg-opacity: 0;
    height: 61vh;
    overflow-y: auto;
}
.first_cont::-webkit-scrollbar {
        display: none;
      
    }  
.first_cont .col-md-3 {
    padding-top: 15px;
    height: 90px;
    background-color: #F6F8FA;
    background-size: cover;
    border-left: #CFEBFF 1px solid;
    text-align: center;
}

.first_cont .col-md-3:hover {
    background-color: #4289f3;
    color: #F6F8FA;
    height: 95px;
   
}
.second_row .col-md-8 {
    border-right:  #CFEBFF 1px solid;
    height: 40vh;
    background-color: #F6F8FA;  

}
.second_row .col-md-4 {
    border-left: #fff5cf 1px solid;
    height: 40vh;
    background-color: #F6F8FA;  
}